<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/heml; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% set current_path = current_path | default(value="/") %}
        {% if current_path == "/" %}
        <title>
            {{ config.title }}
        </title>
        {% else %}
        <title>
            {{ page.title | default(value=section.title) | default(value=config.title) }}
        </title>
        {% endif %}

        <!-- Styles -->
        <link type="text/css" rel="stylesheet" href="{{ get_url(path="css/style.css", trailing_slash=false) }}">

        <!-- Favicon -->
        <link type="shortcut icon" href="/favicon.ico">

        <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    </head>
    <body class="justify-center min-h-screen bg-gradient-to-r from-indigo-500 via-sky-500 to-emerald-500">
        <header class="flex flex-row w-full pt-12">
            <div class="container flex flex-row px-6 mx-auto">
                <a href="/"><img class="flex-none" src="/img/logo.png" /></a>
                <nav class="relative grow">
                    <ul class="absolute bottom-0 right-0 flex flex-row gap-6">
                        {% for menu in config.extra.menus %}
                            <li class="text-white">
                                <a class="hover:underline" href="{{ menu.path }}">{{ menu.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
        <main class="container flex flex-row px-6 pt-10 pb-8 mx-auto mb-4">
            {% block content %} {% endblock %}
        </main>
        <footer class="m-2 mx-auto w-fit">
            <p class="p-4 font-mono text-center text-white">
                Zola Theme Arris
            </p>
        </footer>
    </body>
</html>