{% extends "base.html" %}

{% block content %}
    <section class="flex-1">
        {% set section = get_section(path=config.extra.default_section_name ~ "/_index.md") %}
        {% for page in section.pages %}
            <article class="mb-10 drop-shadow">
                {% if page.extra.featured_image %}
                    <div class="arris-shape-up bg-kleinblue h-72">
                        <img class="object-cover object-center w-full h-full" src="{{ page.permalink }}{{ page.extra.featured_image }}" />
                    </div>
                {% endif %}
                <div class="flex flex-row gap-6 p-8 mr-6 bg-white arris-shape-down pt-7">
                    <div class="p-1 mt-2 w-14 h-14 bg-kleinblue">
                        <div class="flex flex-col w-full h-full font-mono text-lg leading-6 text-center text-white">
                            <time class="flex-1">{{ page.date | date(format="%Y") }}</time>
                            <time class="flex-1">{{ page.date | date(format="%m%d") }}</time>
                        </div>
                    </div>
                    <div class="prose">
                        <h1 class="mb-0">
                            <a class="text-black no-underline hover:text-kleinblue" href="{{ page.permalink }}">{{ page.title }}</a>
                        </h1>
                        <p class="text-black">
                            {% if page.description %}
                                {{ page.description }}
                            {% endif %}
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock content %}