{% extends "base.html" %}

{% block content %}
    <section class="flex-1 p-2 mb-3 bg-kleinblue text-white grid grid-cols-3">
        {% if page.extra.links %}
            {% for link in page.extra.links %}
                <div class="p-8 text-center text-lg outline outline-0 hover:outline-2 hover:outline-white">
                    <a href="{{ link.url | safe }}">{{ link.name | safe }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock content %}