{% extends "base.html" %}

{% block content %}
    <section class="grid flex-1 grid-cols-3 p-2 mb-3 text-white bg-kleinblue">
        {% if page.extra.links %}
            {% for link in page.extra.links %}
                <div class="p-8 text-lg text-center outline outline-0 hover:outline-2 hover:outline-white">
                    <a href="{{ link.url | safe }}">{{ link.name | safe }}</a>
                </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock content %}